.userInput {
  background-color: black;
  color: white;
  width: 20px;
  padding: 1.2em;
  margin: 2em;
  border: 1px solid red;
  border-radius: 3px;
  box-shadow: 0 0;
}

.inputForm {
  margin-top: 4em;
}
