.UserInput {
  background-color: black;
  color: white;
  width: 20px;
  height: 20px;
  padding: 1.2em;
  margin: 2em;
  border: 2px solid red;
  border-radius: 3px;
  box-shadow: 0 0;
  font-size: 10px;
  font-family: 'Press Start 2P', cursive, 'Arial';
  text-align: center;
}
