@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.App {
  text-align: center;
}

#logo {
  animation: App-logo-spin infinite 7s linear;
  height: 100px;
  transition: all 0.5s;
}

#logo:hover {
  height: 180px;
}

.App-header {
  background-color: #222;
  height: 170px;
  padding: 20px;
}

body {
  font-family: 'Press Start 2P', cursive, 'Arial';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
